SPA.KnockoutJs.Web/Service References/StudentServiceReference/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39021/StudentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39021/StudentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39021/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SPA.KnockoutJs.Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_GetAllStudentDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentDetail" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetAllStudentDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentDetail" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_SaveStudentDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStudentDetail" />
  </wsdl:message>
  <wsdl:message name="IStudentService_SaveStudentDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStudentDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_DeleteStudentDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentDetail" />
  </wsdl:message>
  <wsdl:message name="IStudentService_DeleteStudentDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="GetAllStudentDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetAllStudentDetail" message="tns:IStudentService_GetAllStudentDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetAllStudentDetailResponse" message="tns:IStudentService_GetAllStudentDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentDetail" message="tns:IStudentService_GetStudentDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentDetailResponse" message="tns:IStudentService_GetStudentDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveStudentDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/SaveStudentDetail" message="tns:IStudentService_SaveStudentDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/SaveStudentDetailResponse" message="tns:IStudentService_SaveStudentDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/DeleteStudentDetail" message="tns:IStudentService_DeleteStudentDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/DeleteStudentDetailResponse" message="tns:IStudentService_DeleteStudentDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStudentDetail">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetAllStudentDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentDetail">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStudentDetail">
      <soap:operation soapAction="http://tempuri.org/IStudentService/SaveStudentDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentDetail">
      <soap:operation soapAction="http://tempuri.org/IStudentService/DeleteStudentDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://localhost:39021/StudentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>